# gradle

.gradle/
build/
out/
classes/

# eclipse

*.launch

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# macos

*.DS_Store

**/resources/static/
generated
game.ts
game.component.html
game.component.ts
game-settings.component.html
game-settings.component.ts
BaseGameProperties.java
GameStateHelper.java
