<app-title titleText="Welcome!" descriptionText="Join or create a room to get started.">
	<mat-tab-group dynamicHeight class="wrapper">
		<mat-tab label="Join a Room">
			<div class="column center box">
				<app-join-room-form class="fill" (joinRoom)="onJoinRoom($event)"/>
				<div class="spacing"></div>
			</div>
		</mat-tab>
		<mat-tab label="Create a Room">
			<div class="column gap box games-wrapper">
				<mat-form-field subscriptSizing="dynamic">
					<mat-label>Search</mat-label>
					<input matInput type="search" aria-label="Search" #searchInput (input)="searchGames(searchInput.value)" autocomplete="false" spellcheck="false"/>
				</mat-form-field>
				@if (filteredGames.length > 0) {
					<div class="column gap games">
						@for (game of filteredGames; track $index) {
							<mat-card appearance="outlined">
								<mat-card-header>
									<mat-card-title>{{ game.title }}</mat-card-title>
									<mat-card-subtitle>{{ game.minPlayers == game.maxPlayers ? game.minPlayers : game.minPlayers + '-' + game.maxPlayers }} Players</mat-card-subtitle>
								</mat-card-header>
								<br/>
								<mat-card-content>{{ game.description }}</mat-card-content>
								<mat-card-footer class="card-footer">
									<div class="row gap">
										<mat-chip-set class="spacing" aria-label="Tags">
											@for (tag of game.tags; track $index) {
												<mat-chip>{{ tag }}</mat-chip>
											}
										</mat-chip-set>
										<div class="column">
											<div class="spacing"></div>
											<button mat-button (click)="onCreateRoom(game.id)">Play</button>
										</div>
									</div>
								</mat-card-footer>
							</mat-card>
						}
					</div>
				}
			</div>
		</mat-tab>
	</mat-tab-group>
</app-title>
