.wrapper {
	height: 100%;
}

.left-pane {
	min-width: 355px;
	max-width: 355px;
	overflow-x: hidden;
	overflow-y: auto;
}

.player-card {
	min-width: 355px;
	max-width: 355px;
}

@media (max-width: 720px) {
	.left-pane {
		min-width: 146px;
		max-width: 146px;
	}

	.player-card {
		min-width: 146px;
		max-width: 146px;
	}
}

.right-pane {
	width: 100%;
	height: 100%;
}

.history-wrapper {
	overflow-y: hidden;
}

.history {
	overflow-y: auto;
}

.turn-title {
	color: #777777;
	font-size: 0.8em;
}

.fill {
	width: 100%;
}

.spinner {
	max-width: 40px;
	max-height: 40px;
}

.large-icon {
	font-size: 40px;
	width: 40px;
	height: 40px;
}

.character {
	background-color: color-mix(in srgb, #777777 10%, #00000000 90%);
	border: 2px solid #77777777;
	box-sizing: border-box;
	color: black !important;
}

.character.card {
	align-content: center;
	font-weight: bold;
	overflow: hidden;
	text-align: center;
	width: 120px;
	height: 40px;
}

@media (max-width: 720px) {
	.character.card {
		width: 40px;
	}
}

.character:disabled {
	border-color: #7777773F !important;
	color: #7777773F !important;
}

.character.duke {
	background-color: color-mix(in srgb, mediumpurple 10%, #00000000 90%);
	border-color: mediumpurple;
}

.character.assassin {
	background-color: color-mix(in srgb, black 10%, #00000000 90%);
	border-color: black;
}

.character.captain {
	background-color: color-mix(in srgb, dodgerblue 10%, #00000000 90%);
	border-color: dodgerblue;
}

.character.ambassador {
	background-color: color-mix(in srgb, green 10%, #00000000 90%);
	border-color: green;
}

.character.inquisitor {
	background-color: color-mix(in srgb, gold 10%, #00000000 90%);
	border-color: gold;
}

.character.contessa {
	background-color: color-mix(in srgb, darkred 10%, #00000000 90%);
	border-color: darkred;
}
