<div class="column wrapper">
	<div class="row gap-small center header">
		<h1 class="spacing">&nbsp;Debug</h1>
		<mat-form-field class="example-margin example-width" subscriptSizing="dynamic">
			<mat-label>Instances</mat-label>
			<input matInput type="number" (change)="onChangeInstances(instancesInput)" #instancesInput min="1" max="25" value="4">
		</mat-form-field>
		<mat-form-field class="example-margin example-width" subscriptSizing="dynamic">
			<mat-label>Zoom</mat-label>
			<input matInput type="number" #zoomInput min="1" max="100" value="80">
		</mat-form-field>
		<app-join-room-form (joinRoom)="onJoinRoomForAll($event)"/>
		<button mat-icon-button (click)="onRefresh()" matTooltip="Refresh">
			<mat-icon>refresh</mat-icon>
		</button>
	</div>
	<div class="row flow wrapper">
		@for (instance of instances; track $index) {
			<iframe [id]="'instance_' + $index" [src]="instance.url" [width]="instance.width + '%'" [height]="instance.height + '%'" [style.zoom]="zoomInput.value + '%'"></iframe>
		}
	</div>
</div>
