<app-title [titleText]="getGameTitle() + '&nbsp;'" [descriptionText]="getRoomCode() + '&nbsp;'" [singleRow]="isGameStarted() === true">
	@switch (isGameStarted()) {
		@case (true) {
			<app-game class="wrapper"/>
		}
		@case (false) {
			<div class="column gap wrapper">
				<div class="row gap-small center">
					<mat-slide-toggle class="spacing" #joinToggle (change)="joinOrLeaveRoom(joinToggle.checked)" [checked]="getIsPlayerJoined()">Join this room</mat-slide-toggle>
					<button mat-button (click)="editPlayerProfile()">Edit Profile</button>
				</div>
				<div class="column gap box content">
					<div class="row gap flow">
						<h2 class="spacing">Settings</h2>
						@if (isHost()) {
							<div class="row gap-small center">
								<button mat-flat-button (click)="startGame()" [disabled]="!isValidPlayerCount()">Start Game</button>
								<button mat-button (click)="deleteRoom()" color="warn">Delete Room</button>
							</div>
						}
					</div>
					@if (!isHost()) {
						<app-info-card icon="info" text="Only the host can change game settings."/>
					}
					<app-game-settings/>
					<mat-divider/>
					<div class="column gap">
						<div class="row gap-small center">
							<h2>Players</h2>
							<div>({{ getRoomPlayers().length }}/{{ getGameMaxPlayers() }})</div>
						</div>
						@for (player of getRoomPlayers(); track $index) {
							<app-player-card [player]="player" [descriptionText]="getPlayerStatus(player.uuid)" [hasContent]="canRemovePlayer(player.uuid) == true">
								<button mat-icon-button (click)="removePlayer(player.uuid)" matTooltip="Remove Player">
									<mat-icon>close</mat-icon>
								</button>
							</app-player-card>
						}
					</div>
				</div>
			</div>
		}
	}
</app-title>
