<h2 mat-dialog-title>Edit Profile</h2>
<mat-dialog-content>
	<div class="column">
		<mat-form-field>
			<mat-label>Player Name</mat-label>
			<input matInput type="search" aria-label="Player Name" #nameInput [value]="getPlayerName()" autocomplete="false" spellcheck="false"/>
		</mat-form-field>
		<div class="flow icons">
			@for (icon of icons; track $index) {
				<button mat-icon-button [class]="getSelectedIconColor(icon)" (click)="chooseIcon(icon)" [color]="getSelectedIconColor(icon)">
					<mat-icon>{{ icon }}</mat-icon>
				</button>
			}
		</div>
		<br/>
	</div>
</mat-dialog-content>
<mat-dialog-actions>
	<button mat-button (click)="onUpdate(nameInput.value)" cdkFocusInitial>Update</button>
	<button mat-button (click)="onCancel()">Cancel</button>
</mat-dialog-actions>
