:root {
	--backgroundColor: #FFFFFF;
	--accentColorDisabled: #DDDDDD;
	--textColorDisabled: #BBBBBB;
	--accentColor: #999999;
	--accentColorButtonHover: #777777;
	--accentColorLinkHover: #777777;
	--textColorLink: #222222;
	--textColor: #000000;
	/*Hover: 60% opacity on white*/
	/*Disabled: 20% opacity on white*/
	--blue: #4169E1;
	--blueHover: #8DA5ED;
	--blueDisabled: #D9E1F9;
	--red: #CC0000;
	--redHover: #E06666;
	--redDisabled: #F5CCCC;
	--green: #008000;
	--greenHover: #66B366;
	--greenDisabled: #CCE6CC;
	--yellow: #FFFF00;
	--yellowHover: #FFFF66;
	--yellowDisabled: #FFFFCC;
}

@media (prefers-color-scheme: dark) {
	:root {
		--backgroundColor: #000000;
		--accentColorDisabled: #222222;
		--textColorDisabled: #666666;
		--accentColor: #666666;
		--accentColorButtonHover: #888888;
		--accentColorLinkHover: #AAAAAA;
		--textColorLink: #DDDDDD;
		--textColor: #FFFFFF;
		/*Hover: 80% opacity on black*/
		/*Disabled: 40% opacity on black*/
		--blue: #6090FF;
		--blueHover: #4D73CC;
		--blueDisabled: #263A66;
		--red: #CC0000;
		--redHover: #A30000;
		--redDisabled: #520000;
		--green: #00CC00;
		--greenHover: #00A300;
		--greenDisabled: #005200;
		--yellow: #CCCC00;
		--yellowHover: #A3A300;
		--yellowDisabled: #525200;
	}
}

* {
	text-align: center;
	font-family: "Inter", sans-serif;
}

:root {
	--textSize: 1em;
}

h1 {
	font-family: "Poltawski Nowy", serif;
}

input {
	display: inline-block;
	font-size: var(--textSize);
	margin: 0;
	padding: 0;
	width: 12em;
	height: 4em;
}

.input-button {
	background-color: var(--accentColor);
	border: none;
	color: white;
	cursor: pointer;
}

.input-button:hover {
	background-color: var(--accentColorButtonHover);
}

.input-button:disabled {
	background-color: var(--accentColorDisabled);
	color: var(--textColorDisabled);
	cursor: auto;
}

.input-text {
	background-color: transparent;
	box-sizing: border-box;
	border: 1px solid var(--accentColor);
	color: var(--textColor);
}
