<div class="column gap content" [style.max-width]="singleRow?'unset':'48em'">
	<div class="row gap center">
		<h1>{{ titleText }}</h1>
		@if (descriptionText != "" && singleRow) {
			<div>{{ descriptionText }}</div>
		}
		<div class="spacing"></div>
		@if (showHomeButton) {
			<button mat-icon-button matTooltip="Back to Home" routerLink="/">
				<mat-icon>home</mat-icon>
			</button>
		}
	</div>
	@if (descriptionText != "" && !singleRow) {
		<div>{{ descriptionText }}</div>
	}
	<br/>
	<ng-content/>
</div>
