.circle {
	background-color: var(--mdc-list-list-item-leading-avatar-color);
	border-radius: 20px;
	width: 40px;
	height: 40px;
}

.title {
	color: var(--mdc-list-list-item-label-text-color);
	font-size: var(--mdc-list-list-item-label-text-size);
	font-weight: var(--mdc-list-list-item-label-text-weight);
}

.status {
	color: var(--mdc-list-list-item-supporting-text-color);
	font-size: var(--mdc-list-list-item-supporting-text-size);
	font-weight: var(--mdc-list-list-item-supporting-text-weight);
}
